body {
  text-align: center;
  background-color: black;
}

.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(100px, auto));
  max-width: 80vw;
  gap: 25px;
}

.wrapper div {
  background-color: beige;
  padding: 75px;
}

.wrapper div:nth-child(even) {
  background-color: brown;
}
