body {
  text-align: center;
  background-color: black;
}

.wrapper {
  margin: 10px auto;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "header header header header"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer";
}

@media screen and (max-width: 760px) {
  .wrapper {
    margin: 10px auto;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "header header header header"
      "main main main main"
      "main main main main"
      "main main main main"
      "aside aside aside aside"
      "footer footer footer footer";
  }
}

.wrapper div {
  background-color: #f3f3f3;
  padding: 50px;
}

.main div {
  background-color: cornsilk;
  padding: 10px;
  grid-row: 3/4;
}

.main p {
  grid-column: 2/3;
}

.header {
  grid-area: header;
}

.aside {
  grid-area: aside;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  grid-area: main;
}

.footer {
  grid-area: footer;
}
